annotated-types==0.7.0
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
charmhelpers==1.2.1
charset-normalizer==3.4.6
click==8.3.1
cosl==1.7.0
cryptography==46.0.5
ecdsa==0.19.2
exceptiongroup==1.3.1
hvac==2.4.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
Jinja2==3.1.6
googleapis-common-protos==1.75.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
netaddr==1.3.0
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
ops==3.6.0
ops-scenario==8.6.0
packaging==26.0
pbr==7.0.3
pluggy==1.6.0
protobuf==6.33.6
pyasn1==0.6.3
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
pytest-interface-tester==3.4.1
python-jose[cryptography]==3.5.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
rsa==4.9.1
setuptools==82.0.1
six==1.17.0
tenacity==9.1.2
tomli==2.4.0
typer==0.7.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
websocket-client==1.9.0
zipp==3.23.0
